@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');





*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: #D8E6E9;
}
.ah{
    background-color: #B8D9DB;
    height: 125px;
}
.a{
    display: flex;
}
.ce{
    width: 100px;
    height: 100px;
}
.p{
    display: flex;
}
.titulo{
    font-family: 'Advent Pro', sans-serif;
    padding-top: 30px;
}
.casa{
    padding-left: 20px;
    padding-top: 90px;
}
.trite{
    padding-left: 50px;
    padding-top: 90px;

}
.medo{
    padding-left: 50px;
    padding-top: 90px;

}
.psico{
    padding-left: 50px;
    padding-top: 90px;

}
.noix{
    padding-left: 50px;
    padding-top: 90px;

}
.aju{
    padding-left: 425px;
    padding-top: 40px;
    font-size: 20px;
}
.sub{
    padding-left: 422px;
    padding-top: 10px;
    font-size: 10px;
}
.t{
    padding-top: 110px;
    padding-left: 170px;
    font-size: 23px;
}
.ti{
    padding-left: 350px;
    padding-top: 250px;
    font-size: 25px;
    color: #256675;
}
.tel{
    padding-top: 100px;
    font-size: 18px;
}
.OBS{
    font-size: 14px;
    font-family: 'bentham', serif;
}